# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\5. reqresApiRestAssured\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
